.status-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px;
    z-index: 50;
    color: white;
  }
  
  .offline {
    background-color: red;
  }
  
  .online {
    background-color: green;
  }
  